img {
    width: 100%;
    height: auto;
}

#image-carousel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side-carousel-navigation-button {
    height: 50px;
    width: 100px;

    /* makes the buttons transparent with white texts */
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

#previous-image-button{
    position: relative;
    left: 55px;
}

#next-image-button {
    position: relative;
    right: 55px;
}

#image-carousel-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
}

.nav-dot {
    height: 20px;
    width: 20px;

    border-radius: 20px;
}

.nav-dot.active {
    background-color: #000;
}